In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data/raw/income_groups.csv")

In [4]:
df.rename(columns={"Income classifications (World Bank (2017))": "Level"}, inplace=True)
df.head()

        Entity Code  Year       Level
0  Afghanistan  AFG  1987  Low income
1  Afghanistan  AFG  1988  Low income
2  Afghanistan  AFG  1989  Low income
3  Afghanistan  AFG  1990  Low income
4  Afghanistan  AFG  1991  Low income

In [7]:
df["Level"] = df["Level"].map({"Low income":0,"Lower-middle income":1,"Upper-middle income":2,"High income":3})

In [8]:
df.head()

        Entity Code  Year  Level
0  Afghanistan  AFG  1987    0.0
1  Afghanistan  AFG  1988    0.0
2  Afghanistan  AFG  1989    0.0
3  Afghanistan  AFG  1990    0.0
4  Afghanistan  AFG  1991    0.0

In [9]:
df = df[df["Level"] != "Not categorized"]

In [10]:
df.head()

        Entity Code  Year  Level
0  Afghanistan  AFG  1987    0.0
1  Afghanistan  AFG  1988    0.0
2  Afghanistan  AFG  1989    0.0
3  Afghanistan  AFG  1990    0.0
4  Afghanistan  AFG  1991    0.0

In [11]:
df.to_csv("./data/final/income_level.csv")