In [2]:
import pandas as pd

In [65]:
df = pd.read_csv("./data/raw/poverty_thresholds.csv")

In [66]:
df["Year"] = df["Year"].apply(lambda x: int(x/10)*10)

In [67]:
df = df.groupby(['Entity','Year']).sum()

In [68]:
df.head()

                              below 1.90$ a day  1.9 - 3.20$ a day  \
Entity                  Year
East Asia and Pacific   1980        3031.770019         899.469970
                        1990        3286.170044        1842.059940
                        2000        1204.160034        1436.589970
                        2010         654.759994        1549.719950
Europe and Central Asia 1990          95.760000         168.170002

                              3.20 - 5.50$ a day  5.50 - 10$ a day  \
Entity                  Year
East Asia and Pacific   1980          282.370000         95.569946
                        1990         1074.540050        425.349979
                        2000         1427.239990       1040.920040
                        2010         2465.939880       2766.590270
Europe and Central Asia 1990          313.089992        403.110050

                              above 10$ a day
Entity                  Year
East Asia and Pacific   1980        48.860069
                        1990       187.190012
                        2000       574.529950
                        2010      2552.089810
Europe and Central Asia 1990       430.289960

In [69]:
df["total"] = df.iloc[:, 0:5].sum(axis=1)

In [70]:
df.head()

                              below 1.90$ a day  1.9 - 3.20$ a day  \
Entity                  Year
East Asia and Pacific   1980        3031.770019         899.469970
                        1990        3286.170044        1842.059940
                        2000        1204.160034        1436.589970
                        2010         654.759994        1549.719950
Europe and Central Asia 1990          95.760000         168.170002

                              3.20 - 5.50$ a day  5.50 - 10$ a day  \
Entity                  Year
East Asia and Pacific   1980          282.370000         95.569946
                        1990         1074.540050        425.349979
                        2000         1427.239990       1040.920040
                        2010         2465.939880       2766.590270
Europe and Central Asia 1990          313.089992        403.110050

                              above 10$ a day        total
Entity                  Year
East Asia and Pacific   1980        48.860069  4358.040004
                        1990       187.190012  6815.310025
                        2000       574.529950  5683.439984
                        2010      2552.089810  9989.099904
Europe and Central Asia 1990       430.289960  1410.420004

In [71]:
for item, row in df.iterrows():
    total = row[5]
    for column, value in row.items():
        row[column] = value/total

In [79]:
df.head()

Entity                 Year
East Asia and Pacific  1980  below 1.90$ a day     0.695673
                             1.9 - 3.20$ a day     0.206393
                             3.20 - 5.50$ a day    0.064793
                             5.50 - 10$ a day      0.021930
                             above 10$ a day       0.011211
dtype: float64

In [73]:
df.drop(columns=["total"], inplace=True)

In [78]:
df = df.stack()

In [80]:
df.to_csv("./data/final/poverty_thresholds.csv")

In [90]:
df.index.get_level_values('Entity').unique()

Index(['East Asia and Pacific', 'Europe and Central Asia',
       'Latin America and the Caribbean', 'Middle East and North Africa',
       'North America', 'South Asia', 'Sub-Saharan Africa', 'World'],
      dtype='object', name='Entity')